<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page Title</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/style.css">

</head>
<body>

    <%- include('partials/header') %>

    <div class = "container">


        <div class="column side">
            <nav>
                <ul>
                    <li class="nav-item"><a href="/home">Home page</a></li>
                    <li class="nav-item"><a href="/find">Find a cat/dog</a></li>
                    <li class="nav-item"><a href="/dogcare">Dog Care</a></li>
                    <li class="nav-item"><a href="/catcare">Cat Care</a></li>
                    <li class="nav-item"><a href="/register">Create an Account</a></li>
                    <li class="nav-item"><a href="/donate">Have a pet to give away</a></li>
                    <li class="nav-item"><a href="/contact">Contact Us</a></li>
                    <li class="nav-item"><a href="/logout">LogOut</a></li>
                </ul>
            </nav>
        </div>
                
        <main class = "column middle"> 

            <p> Name: Jad Azrak </p>
            <p> Student ID: 40293017 </p>
            <p> Email: azrakjad@gmail.com </p>
            
        </main>
    </div>



<%- include('partials/footer') %>

<script src = "all.js"></script>  

</body>
</html>