<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <div class="column side">
            <nav>
                <ul>
                    <li class="nav-item"><a href="/home">Home page</a></li>
                    <li class="nav-item"><a href="/find">Find a cat/dog</a></li>
                    <li class="nav-item"><a href="/dogcare">Dog Care</a></li>
                    <li class="nav-item"><a href="/catcare">Cat Care</a></li>
                    <li class="nav-item"><a href="/register">Create an Account</a></li>
                    <li class="nav-item"><a href="/donate">Have a pet to give away</a></li>
                    <li class="nav-item"><a href="/contact">Contact Us</a></li>
                    <li class="nav-item"><a href="/logout">LogOut</a></li>
                </ul>
            </nav>
        </div>

        <main class="column middle">
            <p>Welcome to Paws & Claws Adoption Center!</p>
            <br>
            <p>At Paws & Claws we believe every pet deserves a loving home. Our mission is to connect you with your perfect furry friend. Whether you're looking to adopt a playful puppy, a cuddly kitten, or a loyal companion, our website makes it easy to browse through our available dogs and cats. Each animal has a detailed profile to help you find the best match for your family.</p>
            <br>
            <p>In addition to adoption services, we offer in-store veterinary care to ensure your new pet starts their journey with you in the best health possible. Our dedicated team of veterinarians is here to provide check-ups, vaccinations, and any necessary treatments.</p>
            <br>
            <p>If you have a pet you can no longer care for, we're here to help. Our "Have a pet to give away" program ensures that every animal is rehomed with a loving family.</p>
            <br>
            <p>For any questions or further assistance, please don't hesitate to reach out to us through our Contact Us page. We're here to help you every step of the way.</p>
            <br>
            <p>Thank you for choosing Paws & Claws. Together, we can give every pet the loving home they deserve.</p>
        </main>
    </div>

    <%- include('partials/footer') %>
</body>
</html>



